{% extends "users/home_base.html" %}
{% load static %}
{% block content %}


<!--#################################################################################################################################
--------------------------HTML------------------------------------------------------------------------------------------------
#####################################################################################################################################-->
    <audio src="{% static 'boat/sound/hero.mp3' %}" id="theme_song"></audio>

    <!-- Manual button to start game / voice recognition -->
    <button id="start_listening" style="display:none"></button>   
  

    <!-- save game button --> 
    <button id="save_game" style="display:none"></button>


     <!-- Speech Recognition Results -->
     <div class="speech_results">
        <span id="speech_results"></span>
    </div>


    <!-- Display user and scores -->
    <div id="user_stats">
            <!-- <span id="current_score" class="user_text"></span> -->
            <span class="user_text">Welcome {{ request.user }}!</span>
         
    
            <!-- <span class="user_text">Average Time: {{ average_time }}</span> -->
            <!-- <span class="user_text">Gold: {{ gold }}</span> -->
        </div>


    <div id="level_start_clock">
        <!-- display level -->
        <span id="level_display"></span>

        <!-- start game button -->
        <button id="start_game" class="start_btn">Start Game</button>

        <!-- display clock -->
        <div id="stopwatch">
            <div id="display_minutes"></div>
                <span>:</span>
            <div id="display_seconds"></div>
                <span>:</span>
            <div id="display_millisec"></div>
        </div>
    </div>





    <!-- Setting up canvas -->
    <canvas id="cnv" class="cnv3" width="320" height="400"></canvas>



 

    <!-- Load boat images to be drawn in canvas -->
    <image id="iguana" src="{% static 'boat/iguana.png' %}" style="display:none"/>
    <image id="avocado" src="{% static 'boat/avocado.png' %}" style="display:none"/>
    <image id="snowman" src="{% static 'boat/snowman.png' %}" style="display:none"/>


<!--#################################################################################################################################
--------------------------JAVA-SCRIPT------------------------------------------------------------------------------------------------
#####################################################################################################################################-->
<script type="text/javascript">

    // information for database
    let level = 1
    var game_time = 0
    let gold = 0
    let current_score = document.querySelector('#current_score')
    let score = 0
    


    //sound affects 
    //var theme_song;

    let game_running = false
    let run_timer = false


    // declare speech recognition results and start button 
    var r = document.querySelector('#speech_results');
    var start_game = document.querySelector('#start_game');
    var start_listening = document.querySelector('#start_listening');


    // declare clock
    let display_minutes = document.querySelector('#display_minutes')
    let display_seconds = document.querySelector('#display_seconds')
    let display_millisec = document.querySelector('#display_millisec')
    let date = new Date()
    date.setHours(0, 0, 0, 0)
    let stopwatch_interval = null


    //declare level display
    let level_display = document.querySelector('#level_display')



    //declare canvas
    let cnv = document.querySelector('#cnv');
    cnv.backgroundColor = 'red';
    let width = cnv.width
    let height = cnv.height
    let ctx = cnv.getContext('2d');

    // declare boat images 
    var avocado = document.querySelector("#avocado");
    var iguana = document.querySelector("#iguana");
    var snowman = document.querySelector("#snowman");

    //user sprite
    let player = {
        px: 160,
        py: 300,
        vx: 0,
        vy: 0,
        width: 40,
        height: 40
    };

    //walls inside canvas
    let left_wall = {
        px: 0,
        py: -9000000,
        vx: 0,
        vy: 0,
        width: 25,
        height: 10000000
    }

    let right_wall = {
        px: cnv.width - 25,
        py: -9000000,
        vx: 0,
        vy: .0,
        width: 25,
        height: 10000000
    }

    //canvas floor
    let floor = {
        px: 0,
        py: 360,    
        vx: 0,
        vy: 0,
        width: 400,
        height: 40
    }





//-----------------------JS-FUNCTIONS------------------------------------------------------------------------------------------------------- 


    //send users game data to database
    function save_game() {
        game_time = date.getMinutes()*60 + date.getSeconds()
        gold_collected = gold
        game_level = level
        game_score = score
        
        axios.post("{% url 'boat:save_game' %}",
                {
                    game_time: game_time,
                    game_level: game_level,
                    game_score: game_score,
                    gold_collected: gold_collected,
                }, {
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    }
                }
            ).then(function(response) {
                document.location.reload()
            })
    }

    //function to define enemies 
    function create_block() {
        let random_px = chance.integer({ min: 25, max: 270 })
        let random_vy = chance.floating({ min: .9, max: 2.1 })
        let new_block = {
            px: random_px,
            py: 1,
            vx: 0,
            vy: random_vy,
            width: 25,
            height: 25,
        }
        return new_block
    }
    //function to define gold
    function create_gold() {
        let random_px = chance.integer({ min: 25, max: 280 })
        let random_vy = chance.floating({ min: .9, max: 2.1 })
        let gold = {
            px: random_px,
            py: 1,
            vx: 0,
            vy: random_vy,
            width: 15,
            height: 15,
        }
        return gold
    }

    let blocks = []
    let gold_blocks = []
    let time = 1000000
    let time_2 = 1000000
    let time_3 = 2000
    
    //spawn enemies and gold with timers
    function startSpawningStuff() {
        setInterval(function() {
            if(time > 0) {
                time--;
            }
            blocks.push(create_block())
        },{{ mode.snowman_delay }})

        setInterval(function() {
            if(time_2 > 0) {
                time_2--;
            }
            gold_blocks.push(create_gold())
        },{{ mode.avocado_delay }})
    }


    //function for drawing objects on canvas
    function draw() {
        
        ctx.fillStyle = `hsl(220,100%,${level*4}%)`
        ctx.fillRect(0, 0, cnv.width, cnv.height)

        ctx.beginPath();
        ctx.rect(left_wall.px, left_wall.py, left_wall.width, left_wall.height);
        ctx.lineWidth = 3;
        ctx.fillStyle = 'rgb(222,184,135)';
        ctx.fill()
        
        ctx.beginPath();
        ctx.rect(right_wall.px, right_wall.py, right_wall.width, right_wall.height);
        ctx.lineWidth = 3;
        ctx.fillStyle = 'rgb(222,184,135)';
        ctx.fill()

        ctx.drawImage(iguana, player.px, player.py, player.width, player.height);

        for (let i=0; i<blocks.length; i++) {
            ctx.drawImage(snowman, blocks[i].px, blocks[i].py, blocks[i].width, blocks[i].height);
        }

        for (let i=0; i<gold_blocks.length; i++) {
            ctx.drawImage(avocado, gold_blocks[i].px, gold_blocks[i].py, gold_blocks[i].width, gold_blocks[i].height);
        }
        ctx.beginPath();
        ctx.rect(floor.px, floor.py, floor.width, floor.height);
        ctx.lineWidth = 3;
        ctx.fillStyle = 'rgb(60,179,113)';
        ctx.fill()

    }
    
    //animation function
    function main_loop() {
        //display level
        level_display.innerText = 'Level: ' + level + ' \nScore: ' + score

        //equation to get players current score
        game_time = date.getMinutes()*60 + date.getSeconds()
        if (gold != 0) {
            score = game_time * level * gold
        } else {
            score = game_time * level
        }
        // current_score.innerText = 'score: ' + score
        

        //check for collisions 
        if (check_collision(player, right_wall)) { 
            player.px -= 1
            player.vx = 0
            player.vy = 0
        }
        if (check_collision(player, left_wall)) {
            player.px += 1
            player.vx = 0
            player.vy = 0

        }
        if (check_collision(player, floor)) {
            player.py -= 25
            player.vy = -4.3
        }
        for (let i=0; i<gold_blocks.length; i++) {
            if (check_collision(player, gold_blocks[i])) {
                gold += 1
                gold_blocks = [...gold_blocks.slice(0, i), ...gold_blocks.slice(i + 1, gold_blocks.length)]
            }
        }
        for (let i=0; i<blocks.length; i++) { 
            if (check_collision(player, blocks[i])) { //game lost
                cnv.classList.remove("cnv3");
                cnv.classList.add("cnv2");
                game_running = false
                run_timer = false
                start_game.disabled = false 
                save_game()
                stop_clock()
                date.setHours(0, 0, 0, 0)
                player.vx = 0
                player.vy = 0
                player.px = 160
                player.py = 300
                level = 1
                blocks = [] 
                gold_blocks = []
                gold = 0
                score = 0
        
                
            }
        }
   
        
        //update position of objects in canvas
        player.vy += .065

        player.px += player.vx
        player.py += player.vy

        left_wall.px += left_wall.vx
        left_wall.py += left_wall.vy

        right_wall.px += right_wall.vx
        right_wall.py += right_wall.vy
        
        for (let i=0; i<blocks.length; i++) {
            blocks[i].px += blocks[i].vx
            blocks[i].py += blocks[i].vy
        }
            
        for (let i=0; i<gold_blocks.length; i++) {
            gold_blocks[i].px += gold_blocks[i].vx
            gold_blocks[i].py += gold_blocks[i].vy
        }


        //shift objects and change levels
        if (player.py >= 400) {

            player.py -= 400
            right_wall.py -= 400
            left_wall.py -= 400
            floor.py -= 400
            for (let i=0; i<blocks.length; i++) {
                blocks[i].py -= 400
            }
            
            for (let i=0; i<gold_blocks.length; i++) {
                gold_blocks[i].py -= 400
            }
            level -= 1
            level_display.innerText = 'Level ' + level
            if (level < 1) {
                level = 1
            }
        }
        if (player.py <= 0) {

            player.py += 400
            right_wall.py += 400
            left_wall.py += 400
            floor.py += 400
            level += 1
            level_display.innerText = 'Level ' + level

            gold_blocks = []
            blocks = []
        }

        draw()
        
        if (game_running) {
            window.requestAnimationFrame(main_loop);
        }
    }


    // function for calculating the overlap between two rectangles
    function check_collision(rect1, rect2) {
        let x_overlap = Math.max(0, Math.min(rect1.px + rect1.width, rect2.px + rect2.width) - Math.max(rect1.px, rect2.px))
        let y_overlap = Math.max(0, Math.min(rect1.py + rect1.height, rect2.py + rect2.height) - Math.max(rect1.py, rect2.py))
        let overlapArea = x_overlap * y_overlap
        return overlapArea != 0
    }


    //stop watch function 
    function start_clock() {
        if(stopwatch_interval === null){
        stopwatch_interval = setInterval(function() {
            date.setMilliseconds(date.getMilliseconds() + 100)
            let millis = date.getMilliseconds()
            if (millis == 0) {
                millis = '000'
            }
            display_millisec.innerText = millis
            display_seconds.innerText = date.getSeconds()
            display_minutes.innerText = date.getMinutes()
        }, 100)
        }
    }
        function stop_clock() {
            if(stopwatch_interval != null){
             clearInterval(stopwatch_interval);
             stopwatch_interval = null
            }
            display_millisec.innerText = 000
            display_seconds.innerText = 0
            display_minutes.innerText = 0
         }

    //keyboard commands
    document.body.onkeyup = function(e) {
        if (e.keyCode == 32 || e.keyCode == 38 || e.keyCode == 87) {
            player.vy = -{{ mode.speed }}
        }
        if (player.vx == 0){
            if (e.keyCode == 65 || e.keyCode == 37) {
                player.vx = -{{ mode.speed }}
            } else if (e.keyCode == 68 || e.keyCode == 39) {
                player.vx = {{ mode.speed }}
            }
        }
    }

    //start game button triggers clock, speech recognition, and animation
    start_game.onclick = function() {
        
        let theme_song = document.querySelector('#theme_song')
        theme_song.play()

        game_minutes = 0
        game_seconds = 0
        game_win = 0
        game_loss = 0
        start_clock()
        start_listening.onclick()
        draw()
        game_running = true
        run_timer = true
        window.requestAnimationFrame(main_loop);
        this.disabled = true
        startSpawningStuff()
    }

    //speech recognition function
    start_listening.onclick = function () {
        if ('webkitSpeechRecognition' in window) {
            var speechRecognizer = new webkitSpeechRecognition();

            //set rules for speech recognition 
            speechRecognizer.continuous = true;
            speechRecognizer.interimResults = true;
            speechRecognizer.lang = 'en-US';

            //start speech recognition function 
            speechRecognizer.start();

            //function to process speech recognition results 
            speechRecognizer.onresult = function(event) {
                var last = event.results.length - 1;
                var command = event.results[last][0].transcript;

                //display results on screen 
                speech_results.textContent = 'Voice Input: ' + command + '.';

                //dom manipulation based on commands 
                command = command.toLowerCase()
                if (command === 'up' || command[0] == 'u') {
                    player.vy = -4.3
                    draw()
                    start_listening.onclick()
                } else if (command === 'left' || command[0] == 'left') {
                    player.vx = -4.3
                    draw()
                    start_listening.onclick()
                } else if (command === 'right' || command[0] == 'r') {
                    player.vx = 4.3
                    draw()
                    start_listening.onclick()
                }else {
                    start_listening.onclick()
                }
            }
        }
    };
</script>
{% endblock %}