{% extends 'users/base.html' %}

{% block content %}

    <h1 id="instructions">Instructions</h1>
        <span class="center_text">To win the game you need to navigate the boat safely to land (green square);</span>
        <span class="center_text">If you make contact with one of the enemy ships you will lose.</span>
        
    <h2  id="controls">Controls</h2>
        <span class="center_text">To start the game press the 'Start Game' button.</span>
        <span class="center_text">Say 'north', 'south', 'west', or 'east' into you microphone to change the boats direction.</span>
        <span class="center_text">Say 'halt' to stop the boat.</span>

{% endblock %}
